<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PI_zadaca_3.Properties.Settings.fkruzicev20_DBConnectionString"
            connectionString="Data Source=31.147.204.119\PISERVER,1433;Initial Catalog=fkruzicev20_DB;Persist Security Info=True;User ID=fkruzicev20;Password=j&amp;l(5zqU"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>